*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    /* background-color: aqua; */
}

nav{
    background-color: wheat;
}

ul{
    display: flex;
    flex-direction: row;
}

li{
    list-style: none;
    padding: 15px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

input, textarea{
    display: block;
    padding: 2px;
    margin: 5px auto;
    outline: none;
}

.btn{
    margin: 4px auto;
    display: block;
    padding: 5px 12px;
    background: #302d2d;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    outline: none;
}